<div class="wrapper">

    <!-- Navbar -->
    <app-navbar></app-navbar>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <app-admin-sidebar></app-admin-sidebar>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-8">
                        <h1 class="m-0">Thanh toán hóa đơn tháng hợp đồng: #{{contractDto.id}}</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-4">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a [routerLink]="['/admin']">Trang chủ</a></li>
                            <li class="breadcrumb-item active">Thanh toán</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content" id="pdfContent">
            <div class="card card-default">
                <div class="card-header">
                    <h3 class="card-title">Thông tin thuê phòng</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Khách hàng</label>
                                <input type="text" class="form-control" [value]="contractDto.clientDto.fullName"
                                    disabled>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Số điện thoại</label>
                                <input type="text" class="form-control" [value]="contractDto.clientDto.phoneNumber"
                                    disabled>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Căn cước công dân</label>
                                <input type="text" class="form-control"
                                    [value]="contractDto.clientDto.idCard" disabled>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Địa chỉ</label>
                                <input type="text" class="form-control"
                                    [value]="contractDto.clientDto.address" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Mã phòng</label>
                                <input type="text" class="form-control"
                                    [value]="contractDto.roomDto.name" disabled>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Địa chỉ phòng</label>
                                <input type="text" class="form-control" [value]=" 'Tòa ' + 
                                contractDto.roomDto.buildingDto.name + ', ' + contractDto.roomDto.buildingDto.address"
                                    disabled>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Ngày thuê</label>
                                <input type="text" class="form-control" [value]="contractDto.startDate | date: 'dd-MM-yyyy'"
                                    disabled>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Ngày hết hạn</label>
                                <input type="text" class="form-control"
                                    [value]="contractDto.dueDate | date: 'dd-MM-yyyy'" placeholder="None" disabled>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer"></div>
            </div>
            <div class="card card-default">
                <div class="card-header">
                    <h3 class="card-title">Dịch vụ</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <form nz-form nzLayout="vertical" [formGroup]="validateForm" class="no-print">
                        <div nz-row nzGutter="16">
                            <div nz-col nzSm="9">
                                <nz-form-item>
                                    <nz-form-label nzRequired>Chọn dịch vụ</nz-form-label>
                                    <nz-form-control nzErrorTip="Nhập đầy đủ thông tin!">
                                        <nz-select (ngModelChange)="onChangeService($event)" formControlName="serviceId" nzPlaceHolder="Lựa chọn">
                                            <nz-option *ngFor="let item of servicesList" [nzValue]="item.id"
                                                [nzLabel]="item.name"></nz-option>
                                        </nz-select>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                            <div nz-col nzSm="3">
                                <nz-form-item>
                                    <nz-form-label nzRequired>Đơn giá</nz-form-label>
                                    <nz-form-control nzErrorTip="Nhập đầy đủ thông tin!">
                                        <input nz-input type="text" [value]="fixPrice" disabled placeholder="Giá">
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                            <div nz-col nzSm="3">
                                <nz-form-item>
                                    <nz-form-label nzRequired>Số lượng</nz-form-label>
                                    <nz-form-control nzErrorTip="Nhập đầy đủ thông tin!">
                                        <input min="1" formControlName="quantity" nz-input type="number"
                                            placeholder="Số lượng">
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                            <div nz-col nzSm="5">
                                <nz-form-item>
                                    <nz-form-label>Ghi chú</nz-form-label>
                                    <nz-form-control nzErrorTip="Nhập đầy đủ thông tin!">
                                        <input formControlName="note" nz-input type="text" placeholder="Ghi chú">
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                            <div nz-col nzSm="2">
                                <nz-form-item>
                                    <nz-form-label></nz-form-label>
                                    <nz-form-control nzErrorTip="Nhập đầy đủ thông tin!">
                                        <button (click)="addService()" nz-button class="add-button">
                                            <span style="font-size: 20px;" nz-icon nzType="plus-circle"
                                                nzTheme="outline"></span>
                                        </button>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                    </form>
                    <nz-form-label>Danh sách dịch vụ</nz-form-label>
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Tên dịch vụ</th>
                                <th>Số lượng</th>
                                <th>Bảng giá</th>
                                <th>Thành tiền</th>
                                <th>Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of servicesListData; let i= index">
                                <td>{{i}}</td>
                                <td>{{ data.serviceDto.name }}</td>
                                <td>{{ data.quantity }}</td>
                                <td>{{ data.serviceDto.price.toLocaleString().replaceAll(",",
                                    ".")}} đ</td>
                                <td>{{ (data.serviceDto.price * data.quantity).toLocaleString().replaceAll(",",
                                    ".")}} đ</td>
                                <td>
                                    <a (click)="data.id != 0 ? removeService(data.serviceDto.id) : ''"><span nz-icon nzType="delete"
                                            nzTheme="outline"></span></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-info" (click)="saveInfo()">Lưu thông
                        tin</button>
                    <!-- <div class="no-print">
                        <a (click)="onPrint()" class="btn btn-info float-right" style="margin-right: 5px;">
                            <i class="fas fa-print"></i> In thông tin
                        </a>
                        <a (click)="onGeneratePdf()" class="btn btn-primary float-right" style="margin-right: 5px;">
                            <i class="fas fa-download"></i> Xuất PDF
                        </a>
                    </div> -->
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <app-footer></app-footer>
</div>
<!-- ./wrapper -->