<div class="wrapper">

    <!-- Navbar -->
    <app-navbar></app-navbar>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <app-admin-sidebar></app-admin-sidebar>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-8">
                        <h1 class="m-0">Thanh toán hóa đơn tháng hợp đồng: #{{monthBillDto.contractDto.id}}</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-4">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a [routerLink]="['/admin']">Trang chủ</a></li>
                            <li class="breadcrumb-item active">Thanh toán</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content" id="pdfContent">
            <div class="card card-default">
                <div class="card-header">
                    <h3 class="card-title">Thông tin thuê phòng</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Khách hàng</label>
                                <input type="text" class="form-control" [value]="monthBillDto.contractDto.clientDto.fullName"
                                    disabled>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Số điện thoại</label>
                                <input type="text" class="form-control" [value]="monthBillDto.contractDto.clientDto.phoneNumber"
                                    disabled>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Căn cước công dân</label>
                                <input type="text" class="form-control"
                                    [value]="monthBillDto.contractDto.clientDto.idCard" disabled>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Địa chỉ</label>
                                <input type="text" class="form-control"
                                    [value]="monthBillDto.contractDto.clientDto.address" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Mã phòng</label>
                                <input type="text" class="form-control"
                                    [value]="monthBillDto.contractDto.roomDto.name" disabled>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Địa chỉ phòng</label>
                                <input type="text" class="form-control" [value]=" 'Tòa ' + 
                                monthBillDto.contractDto.roomDto.buildingDto.name + ', ' + monthBillDto.contractDto.roomDto.buildingDto.address"
                                    disabled>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Ngày thuê</label>
                                <input type="text" class="form-control" [value]="monthBillDto.contractDto.startDate | date: 'dd-MM-yyyy'"
                                    disabled>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Ngày hết hạn</label>
                                <input type="text" class="form-control"
                                    [value]="monthBillDto.contractDto.dueDate | date: 'dd-MM-yyyy'" placeholder="None" disabled>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer"></div>
            </div>
            <div class="card card-default">
                <div class="card-header">
                    <h3 class="card-title">Dịch vụ</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <nz-form-label>Danh sách dịch vụ</nz-form-label>
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Tên dịch vụ</th>
                                <th>Số lượng</th>
                                <th>Bảng giá</th>
                                <th>Thành tiền</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>0</td>
                                <td>Thuê nhà</td>
                                    <td>1</td>
                                <td>{{ (monthBillDto.contractDto.roomDto.price - monthBillDto.contractDto.roomDeposit).toLocaleString().replaceAll(",",
                                    ".")}} đ</td>
                                <td>{{ (monthBillDto.contractDto.roomDto.price - monthBillDto.contractDto.roomDeposit).toLocaleString().replaceAll(",",
                                    ".")}} đ</td>
                            </tr>
                            <tr *ngFor="let data of monthBillDto.usedServiceDtoList; let i= index">
                                <td>{{i+1}}</td>
                                <td>{{ data.serviceDto.name }}</td>
                                <td>{{ data.quantity }}</td>
                                <td>{{ data.serviceDto.price.toLocaleString().replaceAll(",",
                                    ".")}} đ</td>
                                <td>{{ (data.serviceDto.price * data.quantity).toLocaleString().replaceAll(",",
                                    ".")}} đ</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <div class="no-print">
                        <a (click)="onPrint()" class="btn btn-info float-right" style="margin-right: 5px;">
                            <i class="fas fa-print"></i> In thông tin
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <app-footer></app-footer>
</div>
<!-- ./wrapper -->